@use '@/app/styles/variables' as *; 

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin respond-to($bp) {
  @if $bp ==sm {
    @media (min-width: $bp-sm) {
      @content;
    }
  }

  @else if $bp ==md {
    @media (min-width: $bp-md) {
      @content;
    }
  }

  @else if $bp ==lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  }

  @else if $bp ==xl {
    @media (min-width: $bp-xl) {
      @content;
    }
  }
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
