@import 'tailwindcss';

@theme {
  --color-primary: #09a9e3;
  --color-primary-dark: #0a9cd1;
  --color-secondary: #000000;
  --color-secondary-dark: #3a3a3a;
  --color-danger: #ef4444;
  --color-success: #22c55e;

  --color-bg: #f5f5f5;
  --color-surface: #ffffff;
  --color-border: #e4e4e7;
  --color-text: #09090b;
  --color-text-muted: #71717a;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  --font-primary: 'Inter', sans-serif;
}
